# This file contains directory and files that needs to ignored.
build/
dist/
namcs.egg-info/
namcs/data/
namcs/namcs/__pycache__/
namcs/utils/__pycache__/
test/
all_namcs_data.tsv
namcs/__pycache__/
namcs/general/__pycache__/
namcs/helpers/__pycache__/
namcs/mapper/__pycache__/
namcs/scripts/__pycache__/
hdx_ahcd/data/
hdx_ahcd/__pycache__/
hdx_ahcd/general/__pycache__/
hdx_ahcd/helpers/__pycache__/
hdx_ahcd/mapper/__pycache__/
hdx_ahcd/namcs/__pycache__/
hdx_ahcd/scripts/__pycache__/
hdx_ahcd/utils/__pycache__/
hdx_ahcd/controllers/__pycache__/__init__.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/namcs_converter.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/namcs_extractor.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/__init__.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/functions.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/years.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/__init__.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/functions.cpython-35.pyc
hdx_ahcd/mappers/__pycache__/years.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/__init__.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/namcs_converter.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/namcs_extractor.cpython-35.pyc
hdx_ahcd/controllers/__pycache__/namcs_processors.cpython-35.pyc

hdx_ahcd.egg-info/
